body {
    background-color: whitesmoke;
}
.transaction-list {
    padding: 0;
}
.transaction-list >li {
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px grey;
    padding: 10px 5px;
    margin: 5px 0;
}
